<div class="container text-white">
  <h3 class="bg-dark text-center w-50 py-3 rounded-3">pipes works!</h3>
  <p class="bg-primary text-center w-25 py-2 rounded-3">
    {{ UserName | uppercase }}
  </p>
  <p class="bg-primary text-center w-25 py-2 rounded-3">
    {{ UserName | lowercase }}
  </p>
  <p class="bg-primary text-center w-25 py-2 rounded-3">
    {{ UserData | date: "dd/MM/yyyy" }}
  </p>
  <p class="bg-primary text-center w-25 py-2 rounded-3">
    {{ UserData | date: "short" }}
  </p>
  <p class="bg-primary text-center w-25 py-2 rounded-3">
    {{ AllUserName | slice: 0 : 5 }}
  </p>
  <p class="bg-primary text-center w-25 py-2 rounded-3">
    {{ AllUserName | slice: 5 : 11 }}
  </p>
  <p class="bg-primary text-center w-25 py-2 rounded-3">
    {{ DataObject | json }}
  </p>
  <p class="bg-primary text-center w-25 py-2 rounded-3">
    {{ discount | percent }}
  </p>
  <p class="bg-primary text-center w-25 py-2 rounded-3">
    {{ salary | currency: "USD" }}
  </p>
  <!-- Custom Pipes -->
  <p class="bg-primary text-center w-25 py-2 rounded-3">
    {{ test | testPipes: 5 : 12 }}
  </p>
  <p class="bg-primary text-center w-25 py-2 rounded-3">
    {{ test | testPipes: 11 : 17 }}
  </p>
</div>
